# Environment variables
.env

# Keypair files
deploy-keypair.json
*-keypair.json

# Build artifacts
/target/
/dist/
/build/
/node_modules/
/anchor/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db
